body {
    font-family: Verdana, "Open Sans", sans-serif;
    line-height: 1.7;
    margin: 0;

    /* can be used to globally increase/decrease text size
    font-size: 1.2em;
    */
}


/* document */

.pml-document {
    /* center content */
    max-width: 700px;
    margin: auto;
}

.pml-document-title {
    font-size: 2.2em;
    margin-top: 0.2em;
}

.pml-document-authors::before {
    content: "Written by ";
}

.pml-document-date-time::before {
    content: "Published ";
}

.pml-document-header {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 0.5em;
}


/* titles */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: darkgreen;

    margin-top: 1em;
    margin-bottom: 0px;
}

.pml-node-title {
    font-weight: bold;
}

.pml-caption {
    /* color: darkgreen; */
    font-size: 1.05em;    
    font-style: italic;
}


/* text */

.pml-paragraph {
}


/* admonition */

.pml-admonition {
    display: flex;
    align-items: center;
}

.pml-admonition-label {
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}

.pml-admonition-content {
    border-left: 1px solid grey;
    padding-left: 1em;
}


/* quote */

.pml-quote {
    margin-left: 3.0em;
    margin-right: 3.0em;
    font-style: italic;
}

.pml-quote-text-block {
    display: flex;
    align-items: flex-start;
}

.pml-quote-text-prefix, .pml-quote-text-suffix {
    font-family: "Times New Roman";
    font-size: 1.7em;
    font-weight: bold;
    font-style: italic;
    margin-top: -0.4em;
}

.pml-quote-text-prefix {
    padding-right: 0.2em;
}

.pml-quote-text-suffix {
    padding-left: 0.2em;
}

.pml-quote-text-prefix::before {
    content: '“';
}

.pml-quote-text-suffix::after {
    content: '”';
}

.pml-quote-text {
}

.pml-quote-source {
    text-align:right;
}

.pml-quote-source::before {
    content: "\2014";
}


/* code, input, output */

.pml-code, .pml-inline-code, .pml-input, .pml-output {
    font-family: Consolas, "DejaVu Sans Mono", monospace;
    background: #f5f5f5;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.pml-code, .pml-input, .pml-output {
    font-size: 0.9em;
    line-height: 1.4;
    border-radius: 7px;
    margin-top: 0.5em;
    padding: 1em;
}

.pml-inline-code {
    /* font-size: 0.95em; */
    border-radius: 4px;
    padding: 0.1em .4em 0.1em .4em;
    /* border: 1px dotted lightgrey; */
}

.pml-input, .pml-output {
    border: dotted 1px grey;
}


/* Table of Contents (toc) */

.pml-toc {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1.5em;
}

.pml-toc-title {
    margin-top: 0.7em;
}

.pml-toc-title::before {
    content: "Table of Contents";
}

.pml-toc-tree, .pml-toc-sub-chapters {
    list-style-type: none; /* remove default bullets */
}

.pml-toc-tree {
    padding-left: 0;
}

.pml-toc-sub-chapters {
    padding-left: 1.5em;
}

.pml-toc-branch-node, .pml-toc-leaf-node {
    display: flex;
    line-height: 1.2em;
    margin-top: 0.4em;
}

.pml-toc-branch-prefix, .pml-toc-leaf-prefix {
    min-width: 1.0em;
}

.pml-toc-branch-prefix {
    cursor: pointer;
}

.pml-toc-branch-visible::before {
    content: "-";
    color: grey;
}

.pml-toc-branch-hidden::before {
    content: "+";
    color: grey;
}

.pml-toc-leaf-link, .pml-toc-branch-link {
    text-decoration: none;
    color: black;
}


/* horizontal split panel */

.pml-hsplit-panel {
    display: flex;
}

.pml-hsplit-left-panel, .pml-hsplit-right-panel {
    overflow: auto;
    height: 100vh;
}

.pml-hsplit-left-panel {
    padding-left: 0.7em;
    padding-right: 0.7em;

    background: whitesmoke;
    width: 15%;
}

.pml-hsplit-right-panel {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.pml-hsplit-right-panel-left-space {
}

.pml-hsplit-right-panel-right-space {
}

.pml-hsplit-right-panel-content {
    max-width: 700px;
}

.pml-hsplit-panel-separator {
    width: 10px;
    cursor: col-resize;
    background: lightgrey;
}


/* global */

.pml-bordered {
    border: 1px solid grey;
}

.pml-hidden {
    display: none;
}

/*
.pml-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*/
